.section-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-layout-content {
    flex: 1; /* Takes the rest of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}