.section-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1.5rem;
}

.section-layout-content {
    flex: 1; /* Takes the rest of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}